<template id="report-actions-template">
    <div class="report-actions mt-3 d-flex gap-2 justify-content-end">
        <button class="btn btn-primary" onclick="downloadReportAsPDF()">
            <i class="fas fa-download"></i> تحميل PDF
        </button>
        <button class="btn btn-secondary" onclick="printReport()">
            <i class="fas fa-print"></i> طباعة
        </button>
    </div>
</template> 